{{!-- Desc --}}
<section>
	<h1>Real Time Products Page.</h1>
	<p>Current name: {{name}}</p>
</section>
<section>
	<h2>Current Users</h2>
	<ul id="current-users">
		{{!-- ...populated with js --}}
	</ul>
</section>
{{!-- Products --}}
<section class="d-flex-column">
	<h2>All Products</h2>
	<div class="d-flex products-container" id="all-products-container">
		{{!-- ...populated with js --}}
	</div>
</section>

{{!-- websockets - Served automatically by socket.io lib --}}
<script src="/socket.io/socket.io.js"></script>
{{!-- custom websockets js --}}
<script src="/js/websocket.js"></script>